/* @define-color color0 #121212; */
@import url("../colorscheme.css");

/* GENERAL */
window {
  background: transparent;
}

.main-box {
  padding-left: 6px;
  padding-right: 6px;
  /* padding-top: 2px; */
  margin-bottom: 2px;
}

.volume-slider {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
}

.volume-slider slider {
  background-color: @theme_bg_color;
}

.volume-slider slider:hover {
  background-color: @theme_selected_fg_color;
}

button  {
    all: unset;
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

button:active {
  background-color: @color2;
}

button:hover {
  /* margin-bottom: 3px; */
  border-bottom: 3px solid @color7;
}

/* WORKSPACE */
.ws-container {
  /* padding: 0px 2px 2px 0px; */
  /* margin-right: 528px; */
  /* margin-bottom: 2px; */
}

.workspaces {
  /* all: unset; */
}

.workspaces-btn-container {
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: @color0;
  border-radius: 14px;
  box-shadow: 2px 2px 0px 0px @color4;
  /* margin: 0px 2px 2px 0px; */
}

.workspaces-btn-container button.unfocused:hover {
  font-style: italic;
  color: lightcoral;
  border: 1px solid @color4;
  border-bottom: 3px solid @color7;
  transition: all 0.2s ease-in-out;
}

.workspaces-btn-container button:active {
/* .workspaces button:active { */
  background-color: @color2;
}

.workspaces-btn-container button {
  all: unset;
  padding: 2 5px;
  padding-top: 4px;
  margin: 0 1px;
  border: 1px solid transparent;
  border-bottom: 3px solid transparent;
  background-color: @color0;
  border-radius: 8px;
  color: @color14;
}

.workspaces-btn-container button.focused {
  border: 1px solid @color4;
  background-color: @color8;
  color: @color7;
  font-weight: bold;
  font-style: italic;
  border-bottom: 3px solid @color4;
}

.workspaces-btn-container button.unfocused.occupied {
  color: @color2;
}


/* SYSTEM TRAY */
.systray-container {
  background-color: @color0;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
  box-shadow: 2px 2px 0px 0px @color4;
}

.systray-container button {
  all: unset;
  padding: 2px;
  border: 1px solid transparent;
  border-bottom: 3px solid transparent;
}

.systray-container button:hover {
  border-radius: 8px;
  transition: border 0.2s ease-in-out;
  border: 1px solid @color4;
  border-bottom: 3px solid @color7;
}

.systray-container button * {
  font-size: 1.5rem;
}


/*BATTERY*/
.battery {
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
  box-shadow: 2px 2px 0px 0px @color4;
  background-color: @color0;
}

.battery-icon {
  padding: 0 1px;
  font-size: 1.5rem;
}

.battery-btn {
  padding: 0 5px;
  background-color: @color8;
  margin: 0 1px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.battery-btn:hover {
  border: 1px solid @color4;
  border-bottom: 3px solid @color7;
}
.battery-level {
}

.battery-level trough {
}

.battery-level trough block.empty{
}

.battery-level trough block.filled {
}


/* VOLUME */
.volumeReveal {
  background-color: @theme_bg_color;
  border: 1px solid @unfocused_borders;
  border-radius: 5px;
  font-size: 10px;
}

.volumeReveal:hover {
  border: 1px solid @theme_selected_bg_color;
  border-bottom: 3px solid @theme_fg_color;
}

.volumeBox {
  padding-left: 4px;
  padding-right: 4px;
}

/* TIME DATE */
.time-container {
  background-color: @color0;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
  color: @color7;
  box-shadow: 2px 2px 0px 0px @color4;
}

.cenber-box {
  background-color: @color0;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
  padding: 6px;
  box-shadow: 2px 2px 0px 0px @color4;
}


.client-title {
}
