window {
  background: transparent;
  /* padding: 5px; */
}
.main-box {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.volume-slider {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
}

.volume-slider slider {
  background-color: @theme_bg_color;
}

.volume-slider slider:hover {
  background-color: @theme_selected_fg_color;
}


/*BATTERY*/
.battery {
  background-color: #121212;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
}

.battery-icon {
  padding: 0 1px;
  font-size: 1.5rem;
}

.battery-level {
  /* -gtk-icon-palette: warning rgb(246,116,0), success @theme_selected_bg_color, error rgb(218,68,83); */
}

.battery-level trough {
  /* -gtk-icon-palette: warning rgb(246,116,0), success @theme_selected_bg_color, error rgb(218,68,83); */
}

.battery-level trough block.empty{
  /* -gtk-icon-palette: warning rgb(246,116,0), success @theme_selected_bg_color, error rgb(218,68,83); */
  /* background-color: coral; */
  /* background-color: red; */
  /* border: 0px solid @theme_selected_bg_color; */
  /* margin: 2px; */
}

.battery-level trough block.filled {
  /* border: 0px solid @theme_selected_bg_color; */
  /* -gtk-icon-palette: warning rgb(246,116,0), success @theme_selected_bg_color, error rgb(218,68,83); */
  /* color: red; */
  /* margin: 2px; */
}
/*WORKSPACE*/
.ws-container {
}

.btn-container {
  background-color: #121212;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
}

.workspaces {
  /* margin: 5px; */
}

/* .workspaces button { */
/*   margin: 5px; */
/* } */

button  {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    /* background-color: transparent; */
}
button * {
  /* background-color: green; */
  /* padding: 2px; */
}

button:active {
  /* background-color: coral; */
  background-color: @theme_selected_bg_color;
}

button:hover {
  /* margin-bottom: 3px; */
  border-bottom: 3px solid @theme_fg_color;
}

.workspaces button:hover {
  font-style: italic;
  color: lightcoral;
}

.workspaces button.focused {
  color: @theme_selected_fg_color;
  font-weight: bold;
  border-bottom: 3px solid @theme_selected_bg_color;
}
/**/


.volumeReveal {
  background-color: @theme_bg_color;
  border: 1px solid @unfocused_borders;
  border-radius: 5px;
  font-size: 10px;
  /* padding-left: 2px; */
  /* padding-right: 2px; */
}

.volumeReveal:hover {
  border: 1px solid @theme_selected_bg_color;
  border-bottom: 3px solid @theme_fg_color;
}

.volumeBox {
  padding-left: 4px;
  padding-right: 4px;
}


.time-container {
  background-color: #121212;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
}

.systray-container {
  background-color: #121212;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
}

.systray-container button {
  all: unset;
  border: 1px solid #121212;
  /* padding-left: 2px; */
  /* padding-right: 2px; */
  padding: 2px;
}

.systray-container button:hover {
  border: 1px solid @theme_selected_bg_color;
  border-radius: 8px;
  transition: border 0.2s ease-in-out;
  /* border-bottom: 3px solid @theme_fg_color; */
}

.systray-container button * {
  font-size: 1.5rem;
}
