/* @define-color color0 #121212; */
@import url("colorscheme.css");

/* GENERAL */
window {
  background: transparent;
}

.main-box {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.volume-slider {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
}

.volume-slider slider {
  background-color: @theme_bg_color;
}

.volume-slider slider:hover {
  background-color: @theme_selected_fg_color;
}

button  {
    all: unset;
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

button:active {
  background-color: @color2;
}

button:hover {
  /* margin-bottom: 3px; */
  border-bottom: 3px solid @color7;
}

/* WORKSPACE */
.ws-container {
}

.workspaces {
}

.workspaces button:hover {
  font-style: italic;
  color: lightcoral;
  border: 1px solid @color4;
  border-bottom: 3px solid @color7;
  transition: border 0.2s ease-in-out;
}

.workspaces button:active {
  background-color: @color2;
}

.workspaces button {
  all: unset;
  padding: 0 5px;
  margin: 0 1px;
  border: 1px solid transparent;
  border-radius: 8px;
  color: @color14;
  background-color: @color0;
}

.workspaces button.focused {
  background-color: @color8;
  color: @color7;
  font-weight: bold;
  font-style: italic;
  border: 1px solid @color4;
  border-bottom: 3px solid @color4;
}

.workspaces button.unfocused.occupied {
  color: @color2;
}

.workspaces-btn-container {
  background-color: @color0;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
}


/* SYSTEM TRAY */
.systray-container {
  background-color: @color0;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
}

.systray-container button {
  all: unset;
  border: 1px solid transparent;
  border-bottom: 3px solid transparent;
  padding: 2px;
}

.systray-container button:hover {
  border-radius: 8px;
  transition: border 0.2s ease-in-out;
  border: 1px solid @color4;
  border-bottom: 3px solid @color7;
}

.systray-container button * {
  font-size: 1.5rem;
}


/*BATTERY*/
.battery {
  background-color: @color0;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
}

.battery-icon {
  padding: 0 1px;
  font-size: 1.5rem;
}

.battery-btn {
  padding: 0 5px;
  background-color: @color8;
  margin: 0 1px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.battery-btn:hover {
  border: 1px solid @color4;
  border-bottom: 3px solid @color7;
}
.battery-level {
}

.battery-level trough {
}

.battery-level trough block.empty{
}

.battery-level trough block.filled {
}


/* VOLUME */
.volumeReveal {
  background-color: @theme_bg_color;
  border: 1px solid @unfocused_borders;
  border-radius: 5px;
  font-size: 10px;
}

.volumeReveal:hover {
  border: 1px solid @theme_selected_bg_color;
  border-bottom: 3px solid @theme_fg_color;
}

.volumeBox {
  padding-left: 4px;
  padding-right: 4px;
}

/* TIME DATE */
.time-container {
  background-color: @color0;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 14px;
  color: @color7;
}
